body {
    overflow-x: hidden;
}

.whatsapp-area {
    background: #000;
    padding: 3px 0px;
    display: inline-block;
}

.fm-header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    display: flex;
    align-items: center;
}

.mapdiv,
.main-slider {
    margin-top: 80px;
}

.playstore,
.playstorearea {
    outline: none!important;
}

.fm-footer {
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    width: 100%;
}

.mejs__currenttime,
.mejs__time {
    display: none;
}

.bg-dark {
    background-color: #f04e26!important;
    padding: 0px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    width:100%;
}

.pstore-area {
    background-image: url(img/playstore.png);
    background-size: 100% 100%;
    background-repeat: no-repeat!important;
    width: 100%;
    height: 60px;
    cursor: pointer;
    /* margin: auto 0px;
     */
    max-width: 200px;
}


.fb-img {
    z-index: 10;
    width: 80%;
    height: 52px;
}
.whatsapp-img {
    position: relative;
    z-index: 10;
    height: 51px;
    float: left;
}

.email-img {
    z-index: 10;
    width: 80%;
    height: 59px;
    max-width: 200px;
}

.playstore-img {
    width: 100%;
    z-index: 10;
    cursor: pointer;
    height: 60px;
    max-width: 200px;
}

.whatsapp-number {
    background: #000;
    color: #fff;
    /* padding: 10px; */
    border-radius: 5px;
    position: relative;
    /* left: -22px; */
    z-index: 9;
    padding-right: 10px;
    top: 17px;
    font-size: 1.3em;
    font-weight: bold;
}

.logo-area {
    background-position: bottom;
    background-size: 100% 85px!important;
    background-repeat: no-repeat!important;
    height: 80px;
    width: 200px;
}


}
.navbar img {
    vertical-align: middle;
}
.nopadding {
    padding: 0px;
}
.logoimage {
    width: 200px;
}
.playstore {
    width: 180px;
}
.slick-prev {
    left: 10px!important;
    z-index: 999;
}
.slick-next {
    right: 10px!important;
    z-index: 999;
}
.b-team__description {
    margin-top: 20px;
    margin-bottom: 14px;
    padding-bottom: 22px;
    max-height: 125px;
    padding: 0px 20px;
}
.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}
.m-b-lg {
    margin-bottom: 80px;
}
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 28px;
    line-height: 1;
    color: #c8d1d3;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 100000;
}
.width100 {
    min-height: 200px!important;
    background: no-repeat center center scroll;
    background-size: cover;
}
.height902vh {
    height: 80vh!important;
}
.main-slider .slick-slider {
    margin-bottom: 0px!important;
}
.rjprofile .slick-slide {
    margin-right: 5px;
}
.slick-dots {
    bottom: 24px!important;
}

/** page structure **/
#w {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
}
#content {
    display: block;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/** audio player styles **/
.audio-player,
.audio-player div,
.audio-player h2,
.audio-player a,
.audio-player span,
.audio-player button {
    /*margin: 0;
     padding: 0;*/
    
    border: none;
    outline: none;
}
.audio-player {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    display: flex;
    align-items: center;
}
.audio-player h2 {
    /*position: absolute;
     top: 20px;
     left: 75px;*/
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ececec;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.audio-player h2 .citytext {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    float: left;
    margin-right: 12px;
    top: 8px;
}
.audio-player h2 .marqueetext {
    font-size: 12px;
    font-weight: normal;
    position: relative;
    padding: 3px;
    top: 6px;
}

/* play/pause control */
.mejs__controls .mejs__button button {
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9999px;
}
.mejs__controls .mejs__play button,
.mejs__controls .mejs__pause button {
    width: 52px;
    height: 52px;
    /*top: 12px;
     left: 50%;*/
    
    background-image: url('../img/play.png');
    background-color: transparent;
    background-size: 100%;
    border: 2px solid rgb(242, 88, 50);
    border-radius: 7pc;
}
.mejs__controls .mejs__pause button {
    background-image: url('../img/stop.png');
}

/* mute/unmute control */
.mejs__controls .mejs__mute button,
.mejs__controls .mejs__unmute button {
    width: 40px;
    height: 40px;
    /*top: 13px;*/
    
    right: 142px;
    background-image: url('../img/speaker.png');
    background-size: 100%;
    background-color: transparent;
}
.mejs__controls .mejs__unmute button {
    background-image: url(../img/speaker.png);
}

/* volume scrubber bar */
.mejs__controls .mejs__horizontal-volume-slider {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total {
    width: 120px;
    height: 11px;
    background: #212227;
    -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mejs__offscreen {
    display: none;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    position: absolute;
    width: 0;
    height: 9px;
    top: 1px;
    left: 1px;
    background-color: #f04e26!important;
    /*background: rgb(242, 88, 50);
     background: -moz-linear-gradient(top, rgba(242, 88, 50,1) 0%, rgba(255,123,13,1) 100%);
     background: -webkit-linear-gradient(top, rgba(242, 88, 50,1) 0%,rgba(255,123,13,1) 100%);
     background: linear-gradient(to bottom, rgba(242, 88, 50,1) 0%,rgba(255,123,13,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );
     */
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* #mep_0 {
     height: 0px !important;
}*/

/* time scrubber bar */
.mejs__controls div.mejs__time-rail {
    width: 380px;
    display: none;
}
.mejs__controls .mejs__time-rail span {
    position: absolute;
    display: block;
    width: 380px;
    height: 12px;
    top: 40px;
    left: 55px;
    cursor: pointer;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}
.mejs__controls .mejs__time-rail .mejs__time-total {
    background: #565860;
    width: 380px !important;
    /* fixes display bug using jQuery 1.8+ */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
    top: 0;
    left: 0;
    width: 0;
    background: #7b7d82;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
    top: 0;
    left: 0;
    width: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #90d26a;
    background: -webkit-linear-gradient(top, #90d26a 0%, #83bb63 100%);
    background: -moz-linear-gradient(top, #90d26a 0%, #83bb63 100%);
    background: -o-linear-gradient(top, #90d26a 0%, #83bb63 100%);
    background: -ms-linear-gradient(top, #90d26a 0%, #83bb63 100%);
    background: linear-gradient(top, #90d26a 0%, #83bb63 100%);
}

/* metallic sliders */
.mejs__controls .mejs__time-rail .mejs__time-handle {
    position: absolute;
    display: block;
    width: 20px;
    height: 22px;
    top: -6px;
    background: url('../img/handle-lg.png') no-repeat;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-handle {
    position: absolute;
    display: block;
    width: 12px;
    height: 14px;
    top: -1px;
    background: url('../img/handle-sm.png') no-repeat;
}

/* time progress tooltip */
.mejs__controls .mejs__time-rail .mejs__time-float {
    position: absolute;
    display: none;
    width: 33px;
    height: 23px;
    top: -26px;
    margin-left: -17px;
    z-index: 9999;
    background: url('../img/time-box.png');
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
    width: 33px;
    display: block;
    left: 0;
    top: 4px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #666;
    text-align: center;
    z-index: 9999;
}
.playerlogo {
    width: 64px;
    /*margin-top: 3px;
     margin-left: 2px;*/
}
.navbar {
    padding: 0px 10px;
    height: 70px;
}
.navbar a {
    position: relative;
}
.navbar a span {
    position: absolute;
    left: 31px;
    top: 33px;
    font-size: 21px;
    font-family: calibri;
}
.navbar img {
    vertical-align: unset;
}
.navbar .container {
    margin-left: 0px!important;
}
.tamil-text {
    top: 0!important;
    font-size: 14px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.slick-dots li button:before {
    border-top: 3px solid #fff;
    width: 50px !important;
    height: 20px;
    color: transparent !important;
}
.slick-dots li button,
.slick-dots li {
    width: 50px !important;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;
}
.slick-next:before,
.slick-prev:before {
    color: #444550 !important;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
}
.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    
    20% {
        transform: scale(1, 2.2);
    }
    
    40% {
        transform: scale(1);
    }
}
.modal {
    text-align: center;
    padding: 0!important;
    background: rgba(0, 0, 0, 0.8)!important;
    z-index: 999999999 !important;
}
.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-backdrop.in {
    opacity: 0.5 !important;
}
.pageloader {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    position: fixed;
    background-color: #fff;
    padding-top: 18%;
    z-index: 9999999;
    top: 0px;
}
@media (max-width: 740px) {
    .audio-player h2 .marqueetext {
        width: 100%;
    }
    
    .slick-dots li button:before {
        width: 30px !important;
        height: 15px;
    }
    
    .slick-dots li button,
    .slick-dots li {
        width: 30px !important;
    }
    
    .logoimage {
        width: 120px;
    }
    
    .playstore {
        width: 130px;
    }
    
    .navbar a span {
        position: absolute;
        left: 18px;
        top: 27px;
        font-size: 13px;
        font-family: calibri;
    }
    
    .bg-dark {
        display: flex;
        align-items: center;
    }
    
    .logo-area {
        width: 140px;
        height: 60px;
    }
    
    .playerlogo {
        width: 58px;
        /*margin-top: 6px;*/
    }
    
    .playstorearea {
        display: none;
    }
    
    .pstore-area {
        width: 140px;
        height: 50px;
    }
    
    .audio-player h2 {
        font-size: 16px;
    }
    
    .audio-player h2 span {
        font-size: 12px;
        font-weight: normal;
        position: relative;
    }
    
    .mejs__controls .mejs__play button,
    .mejs__controls .mejs__pause button {
        width: 45px;
        height: 45px;
        right: 8px;
    }
    
    .mejs__controls .mejs__horizontal-volume-slider,
    .mejs__currenttime-container,
    .mejs__time-rail,
    .mejs__duration-container {
        display: none !important;
    }
    
    .mejs__controls .mejs__unmute button {
        background-image: url(../img/mute.png) !important;
    }
    
    .mejs__controls .mejs__mute button,
    .mejs__controls .mejs__unmute button {
        width: 40px;
        height: 40px;
        top: 13px;
        right: 14px;
        background-image: url(../img/sound.png);
        background-size: 100%;
        background-color: transparent;
    }
    
    .carousel-indicators {
        position: fixed;
        bottom: 85px;
    }
    
    .audio-player {
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
    }
    
    .tamil-text {
        font-size: 12px!important;
    }
}
.slick-slide {
    background-size: 100% 100% !important;
    background-position: 50% 50% !important;
}

:focus {
    outline: none!important;
}
@media only screen and (min-device-width: 961px) {
    .mejs__controls .mejs__play button,
    .mejs__controls .mejs__pause button {
        left: 50%;
        position: fixed;
        bottom: 8px;
    }
}
@media only screen and (max-device-width: 961px) {
.whatsapp-number {
    font-size: .8em;

}
}