<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 nopadding fm-header" ng-if="!loading">
    <nav class="bg-dark fixed-top">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
            <!-- <div class="logo-area" background-image="{{IMGURL}}{{fminfo.logo}}"></div> -->
            <a class="pull-left"><img class="logoimage" ng-src="{{IMGURL}}{{fminfo.logo}}"></a>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 text-center" ng-if="!is_mobile">
            <a class=" text-center" ng-class="{ 'col-lg-3 col-sm-3 col-md-3': fminfo.socialcount == '4', 'col-lg-4 col-sm-4 col-md-4' : fminfo.socialcount == '3', 'col-lg-6 col-sm-6 col-md-6' : fminfo.socialcount == '2','col-lg-12 col-sm-12 col-md-12': fminfo.socialcount == '1', }" href="{{fminfo.facebook}}" target="_blank" ng-if="fminfo.facebook_status  && !is_mobile"><img class="fb-img" ng-src="img/facebook.png"></a>
            <a class="nopadding text-center" ng-class="{ 'col-lg-3 col-sm-3 col-md-3': fminfo.socialcount == '4', 'col-lg-4 col-sm-4 col-md-4' : fminfo.socialcount == '3', 'col-lg-6 col-sm-6 col-md-6' : fminfo.socialcount == '2','col-lg-12 col-sm-12 col-md-12': fminfo.socialcount == '1', }" ng-href="https://api.whatsapp.com/send?phone={{fminfo.whatsapp}}&text=ThedalFM {{fminfo.fmcity}}" target="_blank" ng-if="fminfo.whatsapp_status && !is_mobile">
                <div class="whatsapp-area">
                <img class="whatsapp-img" ng-src="img/whatsapp.png">
                <span class="whatsapp-number">{{fminfo.whatsapp}}</span>
               </div>
            </a>

            <a class="text-center" ng-class="{ 'col-lg-3 col-sm-3 col-md-3': fminfo.socialcount == '4', 'col-lg-4 col-sm-4 col-md-4' : fminfo.socialcount == '3', 'col-lg-6 col-sm-6 col-md-6' : fminfo.socialcount == '2','col-lg-12 col-sm-12 col-md-12': fminfo.socialcount == '1', }" href="mailto:{{fminfo.mailLink}}" ng-if="fminfo.email_status && !is_mobile"><img class="email-img" ng-src="img/email_us.png"></a>
            <a class="text-center" ng-class="{ 'col-lg-3 col-sm-3 col-md-3': fminfo.socialcount == '4', 'col-lg-4 col-sm-4 col-md-4' : fminfo.socialcount == '3', 'col-lg-6 col-sm-6 col-md-6' : fminfo.socialcount == '2','col-lg-12 col-sm-12 col-md-12': fminfo.socialcount == '1', }" ng-if="fminfo.youtube_status" ng-click="openLink(fminfo.applink);"><img class="playstore-img" ng-src="img/google-play-badge.png"></a>
        </div>
        
        <div class="col-sm-2 col-md-2 col-lg-2 playstorearea" ng-click="openLink(fminfo.youtube);" ng-if="fminfo.youtube_status && !is_mobile">
            <div class="pstore-area pull-right" background-image="{{IMGURL}}{{fminfo.thedal_tv_image}}" ></div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 playstorearea" ng-click="openLink(fminfo.applink);" ng-if="!fminfo.youtube_status  && !is_mobile">
            <div class="pstore-area pull-right" background-image="{{IMGURL}}{{fminfo.playstorelogo}}"></div>
        </div>

        <div class="col-xs-6" ng-if="is_mobile">
            <a ng-click="openLink(fminfo.applink);" target="_blank"><img class="playstore pull-right" ng-src="{{IMGURL}}{{fminfo.playstorelogo}}"></a>
        </div>
    </nav>
</div>

<div class="pageloader" ng-if="loading">
    <div class="loading">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>

<!-- <div class="col-sm-2 col-md-2 col-lg-2 col-xs-4 text-center">
         <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
               {{city}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="(key,city) in fmcities" ng-click="changeCity(city)"><a>{{city}}</a></li>
            </ul>
         </div>
         </div> -->

<!-- <div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" data-modalFade="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Choose Your FM City</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <select class="form-control" ng-model="city" name="city" ng-change="selectcity(city);">
                     <option value="">Select City</option>
                     <option value="{{city}}" ng-repeat="(key,city) in fmcities">{{city}}</option>
                  </select>
               </div>
            </form>
         </div>
      </div>
   </div>
</div> -->